
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PictureOptimizer.com </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/css/flexslider.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/static/js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/js/jquery.flexslider-min.js"></script>

	<!-- MAIN JS -->
	<script src="/static/js/main.js"></script>

	<style>
		body
		{
		background: #ECF0F1;
		}
		.background_class
		{
			background: #ECF0F1;
		}
	</style>
    <script>
        $(document).ready(function () {
          //$('.datepicker').datepicker({format: 'mm/dd/yyyy'});
          //$('.select2').select2();
          {% block documentReady %} {% endblock %}
        })
    </script>
	{% block header_content %}{% endblock %}
	{% block header_content2 %}{% endblock %}
	</head>
	<body>
	
	
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<a href="/"><img src="/static/images/pictureoptimizer_logo.jpg" alt="logo"></a>
				<nav role="navigation">
					<ul>
						<li><a style="font-size:15px" href="{% url 'website:web_interface' %}">Web Interface</a></li>
						<li><a style="font-size:15px" href="{% url 'website:features'%}">Features</a></li>
						<li><a style="font-size:15px" href="{% url 'website:plugins'%}">Plugins</a></li>
						<li><a style="font-size:15px" href="{% url 'website:api_doc'%}">API Docs</a></li>
						<li><a style="font-size:15px" href="{% url 'website:contact' %}">Support</a></li>
						<li><a style="font-size:15px" href="{% url 'account:dashboard' %}">My Account</a></li>
						<li class="cta"><a href="{% url 'website:pricing' %}">Pricing & Sign Up</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	{% block base_container %}{% endblock %}
	
	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				<p><a href="{%url 'registration' %}" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Our Services</h3>
				<ul class="float">
					<li><a href="{%url 'website:features' %}">Features</a></li>
					<li><a href="{%url 'website:pricing' %}">Pricing & Signup</a></li>
					<li><a href="{%url 'website:web_interface' %}">Free Web Interface</a></li>
					<li><a href="{%url 'website:web_interface' %}">System Status</a></li>
				</ul>
				<ul class="float">
					<li><a href="{%url 'website:api_doc' %}">API Documentation</a></li>
					<li><a href="{%url 'website:contact' %}">Support Center</a></li>
					<li><a href="#">WordPress Plugin</a></li>
					<li><a href="#">Magento Module</a></li>
				</ul>

			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Follow Us</h3>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-google-plus"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; All Rights Reserved. <span><a href="http://pictureoptimizer.com" target="_blank">PictureOptimizer.com</a></span></p>
			</div>
			
		</div>
	</footer>
	</div>
	</body>
</html>

