 {% extends 'base.html' %}
 {% block title %}Reset Password{% endblock %}

{% block content %}
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="/">Picture<b>Optimizer</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
         {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                {{ message }}
            {% endfor %}
        {% endif %}

                {% if form.errors %}
                    {% endif %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success btn-flat" value="Submit" />
        </div>
        <!-- /.login-box-body -->
    </div>
    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });

    </script>
</body>
{% endblock %}
